
  .dot{
    height: 75px;
    width:75px;
    background-color: #ab2525;
    border-radius: 50%;
    display: inline-block;
    float: right !important;
    text-align: center;
    color: white;
    
  }
  .paddTop-11{
    padding-top: 11px;
}
.paddTop-25{
    padding-top: 25px;
}
.paddleft-115{
    padding-left: 115px;
}
.text-bold{
    font-weight: bold;
}
.lineHeight{
    line-height: 35px;
}
  .img-align{
    height: 70px;
  }
  .horiztle-scrl{
      overflow:hidden;
  }
  .paddLeft-41{
    padding-left: 41px;
  }
  .textAlign{
    margin-top: 20%;
    color: blue;
  }